.error-message {
    color: red; 
    width: 100%; 
    word-break: break-word; 
    max-width: 197px; 
    display: inline-block; 
    padding-top: 10px;
}

.float-right {
    float: right;
}

.width-p100 {
    width: 100%;
}